body {
		background: none;
		color: black;
		font: Georgia, Serif;
		padding: 0;
		margin: 0;
}

div {
		padding: 0;
		margin: 0;
}

a {
		color: black;
}

.header, .footer, #streams, #styleswitcher, #SocialMedia, .albumstream, #video, img {
		display: none;
}

a:after {
		content: " ( "attr(href) " ) ";
}

.printmessage {
		display: block;
}

#emailTip {
		display: none;
}
